In [1]:
print("Hello Python")# First Program

Hello Python

In [2]:
6+7 #Addition

13

In [4]:
if True:              #indentation
   print ("Answer")
   print ("True")

else:
   print ("Answer")
   print ("False")

Answer
True

In [6]:
a=1 # Line continuation character
b=2
c=3
d=a+\
b+\
c
d

6

In [10]:
a="Ram" # Use of ",',""" for multiline statements
b='shyam'
c="""Hi my name is \ 
krutika"""
a,b,c

('Ram', 'shyam', 'Hi my name is krutika')

In [29]:
# Different data types in python
a=3  #integer
print(a,type(a)) 
b=0.1  #float
print(b,type(b))
c="Krutika" #string
print(c,type(c))
d=2+4j      #complex
print(d,type(d))

#standard data types
a=1 
b=0.2  # Numbers
c=2+3j
print(type(a),type(b),type(c))

str = 'Hello World!'# strings

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

#Lists (similar to arrays,different data type allowed) size can be changed
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

#Tuple similar to lists but enclosed by () size cannot be changed
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

#Dictionary enclosed by {} braces consists of key-value pair unordered can be updated
dict={1:"john",4:"neha",3:"lamb"}

print(dict)
print(dict[4])
print(dict.keys())
print(dict.values())
dict[4]="jan"
print(dict[4])

3 <class 'int'>
0.1 <class 'float'>
Krutika <class 'str'>
(2+4j) <class 'complex'>
<class 'int'> <class 'float'> <class 'complex'>
Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
{1: 'john', 4: 'neha', 3: 'lamb'}
neha
dict_keys([1, 4, 3])
dict_values(['john', 'neha', 'lamb'])
jan

In [61]:
#conversion into data type
x=3
y=4.0
z=str(x)
print(z)

TypeError: 'str' object is not callable

In [68]:
#operators
#arithmetic

2+3,2-3,3*6,6/2,5%2,3**2,9//2,-9//2

(5, -1, 18, 3.0, 1, 9, 4, -5)

In [69]:
#relational,comparison

3>2,3==3,3!=2,3<2,3>=5,5<=7

(True, True, True, False, False, True)

In [72]:
#assignment
a=1
b=2
a=a+b
print(a)
a=a-b
print(a)
a=a/b
print(a)
a=a%b
print(a)
a=a//b
print(a)
a=a*b
print(a)

3
1
0.5
0.5
0.0
0.0

In [79]:
#bitwise-operating bit by bit
a=1
b=2
print(a&b) #and 
print(a|b) #or
print(a^b) #xor
print(a<<b)#left shift
print(a>>b)#right shift

0
3
3
4
0

In [82]:
#membership
3 in [3,5,6]

True

In [89]:
#identity
3 is 3

True

In [88]:
#Logical
print(not 0)
print(3 and 4)
print(4 or 5)

True
4
4

In [91]:
#Decision making
x=3
y=4
if(x<y):
    print("yahoo")
else:
    print("oops")
#nested if else
a=3
b=2
c=1
if(a>b & c):
    print(a)
elif(b> a & c):
    print(b)
elif(c> a & b):
    print(c)

yahoo
3