In [14]:
#Program 1 
print("Twinkle, twinkle, little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t Like a diamond in the sky.\nTwinkle, twinkle, little star,\n\t How I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	 How I wonder what you are

In [18]:
#Program print current date and time 
import datetime
now=datetime.datetime.now()
print(now)

2020-07-10 11:43:03.369336

In [22]:
#radius and area of circle
r=input("Enter radius")
r=float(r)
area=3.14*r*r
print("Area is" , area)

Enter radius5
Area is 78.5

In [24]:
#reverse string
a=input("First name")
b=input("Last name")
print(b , a)

First namekrutika
Last nametalegaonkar
talegaonkar krutika

In [28]:
# convert into list & tuple
values=input("Enter comma separated values:")
l=values.split(",")
l=list(l)
tup=tuple(l)
print("list is" , l)
print("tuple is" , tup)

Enter comma separated values:1,2,3,4
list is ['1', '2', '3', '4']
tuple is ('1', '2', '3', '4')

In [32]:
#file extension separator
file=input("File name")
for t in range(len(file)):
    if(file[t]=="."):
        ext=file[t+1:]
        break
print("extension:" , ext)

File namepap.txt
extension: txt

In [33]:
#display first and last color
color_list = ["Red","Green","White" ,"Black"]
print("first:", color_list[0])
print("last:" , color_list[3])

first: Red
last: Black

In [39]:
#display the date
exam_st_date = (11, 12, 2014)
st=str(exam_st_date)
print(st)
st=st.replace(",","/")
print("today's date:",st)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

(11, 12, 2014)
today's date: (11/ 12/ 2014)
The examination will start from : 11 / 12 / 2014

In [43]:
# compute n+nn+nnn
a=input("Enter the integer n")
a=int(a)
ans=a+((a*10)+a)+((a*100)+(a*10)+a)
print("the n+nn+nnn is:" , ans)

Enter the integer n8
the n+nn+nnn is: 984

In [44]:
#print calendar
import calendar
y=input("enter year")
y=int(y)
m=input("enter month")
m=int(m)
print(calendar.month(y,m))

enter year1996
enter month12
   December 1996
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [46]:
#difference between 2 days
from datetime import date
f_date=date(1996,12,23)
s_date=date(1992,11,25)
delta=f_date-s_date
print(delta.days)

1489

In [49]:
#sphere volume
print("volume is:" , (4*3.14*6*6*6)/3)

volume is: 904.32
8

In [52]:
#difference
n=input("Number")
n=int(n)
diff=n-17
print("difference is:", diff)
if(diff>0):
    print(2*abs(diff))

Number89
difference is: 72
144

In [ ]:
# test number
n=input("Enter n")
n=int(n)
if(n<=100):
    print("within 100")
elif(n>100 & n<=1000):
    print("within 1000")
elif(n>1000 & n<=2000):
    print("within 2000")
else:
    print("invalid")